DATABASE_URL=postgres://postgres:psswd@host:16219/postgres
HC_AI=replaceme
HC_CDN=replaceme
SECRET_KEY=replaceme
DEBUG=False
ALLOWED_HOSTS=your-domain.com
CSRF_TRUSTED_ORIGINS=https://your-domain.com
